nav {
  display: flex;
  border-bottom: 1px solid black;
  background-color: #ffc017;
}
a {
  text-decoration: none;
}
nav img {
  margin-left: 5em;
}
h1 {
  font-size: 5em;
}
h2 {
  font-size: 3em;
  margin: 30px;
}
#navbar {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  width: 100%;
  margin-right: 3em;
}

#navbar a {
  color: black;
  margin: 10px;
  align-self: center;
}
#navbar a:last-of-type {
  background-color: black;
  color: white;
  padding: 15px 20px;
  border-radius: 30px;
}
#start {
  background-color: #ffc017;
  display: flex;
  flex-direction: row;
  padding: 20px;
}
#start a {
  color: white;
  background-color: black;
  border-radius: 30px;
  padding: 15px 20px;
}

#m {
  width: 10em;
  margin-left: 13em;
  font-size: 1.5em;
  padding: 0px;
  margin-right: 0px;
  align-self: stretch;
}
