nav {
  display: flex;
  border-bottom: 1px solid black;
  background-color: #ffc017;
}
a {
  text-decoration: none;
}
nav img {
  margin-left: 5em;
}
h1 {
  font-size: 5em;
  margin: 1em;
}
h2 {
  font-size: 2em;
  margin-left: 3em;
  margin-top: -50px;
}
#navbar {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  width: 100%;
  margin-right: 3em;
}

#navbar a {
  color: black;
  margin: 10px;
  align-self: center;
}
#navbar a:last-of-type {
  background-color: black;
  color: white;
  padding: 15px 20px;
  border-radius: 30px;
}
#start {
  background-color: #ffc017;
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid black;
  margin-bottom: 40px;
}

button {
  color: white;
  background-color: black;
  border-radius: 30px;
  padding: 10px 50px;
  margin-top: 40px;
  margin-left: 90px;
}

#m {
  width: 30%;
  margin-left: 43em;
}

#article-flex {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-left: 6rem;
  font-size: 15px;
}
#first-div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}
#last-div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  border-bottom: 1px solid grey;
}
.item {
  width: 450px;
  height: 150px;
  display: flex;
  flex-direction: column;
}
.number {
  font-size: 2rem;
  color: grey;
}
.name {
  margin-top: -31px;
  padding-left: 26px;
  font-weight: 900;
}
.image-article {
  height: 25px;
  border-radius: 20px;
  margin-right: 22px;
  margin-left: 14px;
}
.square {
  border-radius: 10%;
  height: 20px;
  margin-right: 27px;
  margin-left: 16px;
}
.title {
  margin-left: 40px;
  margin-top: 10px;
  margin-block: 10px;
  font-size: 1.3rem;
  font-weight: bold;
}

.date {
  margin-left: 42px;
}
